.navbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background-color: var(--secondary-bg-color);
}

.links {
    margin-left: auto;
}

.links_item {
    margin-right: 15px;

    &:last-of-type {
        margin-right: 0;
    }
}
